<%= f.simple_fields_for :options do |p| %>
    <div class="form-inputs">
      <div class="row">
        <div class="col-xs-10">
          <%= p.input :content, label: false %>
        </div>
        <div class="col-xs-2">
          <%= p.input :right, label: 'Верный', as: :boolean %>
        </div>
      </div>
    </div>
<% end %>
