<div class="bg-primary"><
  <h1>Вопросы к тесту
    <%= link_to new_test_question_path, class: "btn btn-lg btn-default right" do %>
        <span class="glyphicon glyphicon-plus"></span> Добавить вопрос
    <% end %>
  </h1>
</div>

<%= render partial: "questions", locals: {questions: @questions} %>

</div>
