<h3><%= @filter_name %></h3>
<table class="table table-hover">
  <thead>
  <tr>
    <th>Название теста</th>
    <th>Действия</th>
  </tr>
  </thead>
  <tbody>
  <% @tests.each do |test| %>
      <tr>
        <td><%= link_to test.name, profile_test_path(test) %></td>
        <td>
          <%= link_to edit_profile_test_path(test), :class => 'btn btn-default btn-xs', :remote => true do %>
              <span class="glyphicon glyphicon-pencil"></span> Ред.
          <% end %>
          <%= link_to profile_test_path(test), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-xs btn-danger', :remote => true do %>
              <span class="glyphicon glyphicon-remove"></span> Удалить
          <% end %>
              </td>
      </tr>
  <% end %>
  </tbody>
</table>
<br>
