.questions {
  padding-bottom: 50px;
  .question {
    .question-heading {
      .question-controls {
        form {
          button {

            &.up {
              display: block;
            }
            &.down {
              display: block;
            }
          }
        }
      }
    }
  }
}

.question {
  padding-bottom: 30px;
  .question-body {
    padding-left: 15px;
  }
  .question-options {
    padding-left: 45px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .question-heading {
    .question-controls {
      float: right;
      form {
        display: inline;
        float: left;
        button {
          border-radius: 0;
          &.up {
            display: none;
            border-right: none;
            border-left: none;
          }
          &.down {
            display: none;
            border-left: none;
          }
        }
      }
    }
  }
}